.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px 20px;
  background-color: #fafafa;
}
.title {
  display: flex;
  align-items: center;
}
.title img {
  height: 1.5em;
  margin-right: 0.5em;
}
.title h2 {
  color: #ce8d75;
  margin: 0;
  margin-bottom: 2px;
}
